
html, body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  height: 100%;
  background-color: black;
  /* overflow: hidden; */
  overflow: hidden;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#topcontainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

ul {
  margin: o;
}

li {
  display: inline-block;
}